.logo {
    text-align: center;
    padding: 50px 0;
}
.logo img {
    width: 100px;
    height: 100px;
}
.navigation {
    background: purple;
    text-align: center;
    padding: 20px 0;
}
.navigation a {
    color: white;
}
.navigation ul {
    margin-bottom: 0;
}
.content {
    margin: 50px 0;
}
.footer {
    background: black;
    color: white;
    text-align: center;
    padding: 50px 0;

}